body {
 
 font-family: "Vazir";

 margin: 0;
 
 background-color: #fafafa;

}


header {
 
 background-color: #ef394e;

  color: #fff;

  text-align: center;

  padding: 20px 0;

}


nav a {

  color: white;

  text-decoration: none;

  margin: 0 10px;

}


main {

  padding: 20px;

  text-align: center;

}


.grid {
 
 display: grid;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;

}


.card {

  background: #fff;

  border-radius: 10px;

  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  padding: 30px;

}


footer {
 
 background-color: #222;

  color: #ccc;

  text-align: center;

  padding: 15px;

  margin-top: 30px;

}
